#info-poly {
  padding: 20px 0;
}

#info-poly .outside-box {
  position: relative;
}

#info-poly h2 {
  font-family: var(--font2);
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  font-weight: normal;
}

#info-poly .inside-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#info-text {
  background: url("../img/backgrounds/guideDownload.jpeg");
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
}

#info-text p {
  font-size: 1rem;
}

#info-text h1,
#info-text p {
  max-width: 600px;
}

@media screen and (min-width: 768px) {
  #info-text p {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 768px) {
  #info-text {
    min-height: auto;
    background-image: unset;
  }
}

#product-options {
  padding: 100px 0;
}

@media screen and (min-width: 992px) {
  #product-options img {
    max-width: 600px;
  }
}

@media screen and (min-width: 600px) {
  #product-options img {
    max-width: 450px;
  }
}

#products-top .swiper-wrapper {
  padding-bottom: 50px;
}

#products-top
  .swiper-container-horizontal
  > #products-top
  .swiper-pagination-bullets,
#products-top .swiper-pagination-custom,
#products-top .swiper-pagination-fraction {
  bottom: 0px !important;
}

#products-top .swiper-pagination-bullet {
  background: var(--black);
  opacity: 1;
}

#products-top .swiper-pagination-bullet-active {
  background: var(--red);
}

#quote-modal .close-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1000;
  cursor: pointer;
}

#quote-modal .close-btn i {
  color: var(--black);
}

/* @media screen and (max-width: 550px) {
  #quote-modal .close-btn {
    height: 20px;
    width: 20px;
  }

  #quote-modal .close-btn i {
    color: var(--white);
    font-size: 0.7rem;
  }
} */

#quote-modal input {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--black);
}
