#products-hero {
  margin-top: -84px;
}

#products-top {
  padding: 100px 0;
}

#products-top .products-top-box {
  height: 450px;
  background: var(--redBg);
  position: relative;
  border: none;
}

#products-top .products-top-box .triUp {
  position: absolute;
  top: -1px;
  right: -1px;
  height: 50px;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

#products-top .products-top-box .triDown {
  position: absolute;
  bottom: -1px;
  left: -1px;
  height: 60px;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}
