#info-poly {
  padding: 20px 0;
}

#info-poly .outside-box {
  position: relative;
}

#info-poly h2 {
  font-family: var(--font2);
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  font-weight: normal;
}

#info-poly .inside-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#info-text {
  background: url("../img/backgrounds/guideDownload.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
}

#info-text h1,
#info-text p {
  max-width: 500px;
}

#product-options {
  padding: 100px 0;
}

#product-options img {
  max-width: 500px;
}

#products-top .swiper-wrapper {
  padding-bottom: 50px;
}

#products-top
  .swiper-container-horizontal
  > #products-top
  .swiper-pagination-bullets,
#products-top .swiper-pagination-custom,
#products-top .swiper-pagination-fraction {
  bottom: 0px !important;
}

#products-top .swiper-pagination-bullet {
  background: var(--black);
  opacity: 1;
}

#products-top .swiper-pagination-bullet-active {
  background: var(--red);
}
