@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 1.25rem;
  line-height: 86.4%;
  letter-spacing: 0.6em;
  text-transform: uppercase;
  color: #ffffff;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 8.125rem;
  line-height: 86.4%;
}

/* BUTTON */
.g-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.g-btn p {
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: white;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
  z-index: 101;
}

.g-btn img {
  width: auto;
  position: absolute;
  left: 80px;
  z-index: 100;
  background-color: #cd0b42;
  transition: all 0.1s linear;
}

.g-btn:hover img {
  left: 100px;
}

/* HEADER */
#header {
  position: absolute;
  width: 100%;
  padding-top: 30px;
}

#header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  cursor: pointer;
}

/* HERO */
#hero {
  background-color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../img/back.png") center / cover no-repeat;
  background-attachment: fixed;
}

#hero h1 {
  background: linear-gradient(
    to right,
    #dd3549,
    #ef7639,
    #3c9399,
    #3c9399,
    #3c9399
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: -10px;
  margin-bottom: 30px;
}

/* ABOUT */
#about {
  height: 100vh;
}
