@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;500;900&display=swap");
@import url("../fonts/Gotham/stylesheet.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Gotham";
}

h1 {
  font-size: 30px;
  font-weight: 900;
  font-style: normal;
}

h2 {
  font-size: 50px;
  font-weight: 700;
}

h3 {
  font-size: 32px;
  font-weight: 500;
  font-weight: bold;
}

h4 {
  font-size: 24px;
  font-weight: 400;
}

p {
  font-size: 16px;
  font-weight: 400;
}

/* BUTTON */
.g-btn {
  display: inline-block;
  border: 2px solid #1e1e1e;
  width: fit-content;
  border-radius: 40px;
  padding: 14px 32px 4px;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
  transition: all 0.1s linear;
  background-color: #1e1e1e;
  color: #f6f6f6;
}

.g-btn:hover {
  background: #fff;
  border-color: #fff;
  color: #1e1e1e;
}

.dark {
  background: #fff;
  border-color: #fff;
  color: #1e1e1e;
}

.dark:hover {
  border-color: #1e1e1e;
  background-color: #1e1e1e;
  color: #f6f6f6;
}

/* HEADER */
/* NAVBAR */
#navbar {
  top: 0;
  background: rgba(255, 255, 255, 0);
  transition: top 0.3s, background 0.3s;
  z-index: 1000;
}

.navbar {
  font-family: "Gotham";
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  /* color: #000; */
}

.navbar .nav-item .nav-link {
  color: #fff;
  padding: 0;
  transition: all 0.1s linear;
}

.navbar .nav-item .nav-link:hover {
  color: #fff;
  opacity: 0.6;
}

.navbar-brand {
  color: #fc8804 !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgba(0, 0, 0, 0);
}

.custom-toggler.navbar-toggler:focus {
  border-color: rgba(0, 0, 0, 0);
}

/* HERO */
.hero-slider {
  height: 100vh;
  width: 100vw;
  /* padding: 0;
  margin: 0; */
}

.hero-slider-child {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("../img/bg1.png") center / cover no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.hero-slider-child .text h1 {
  font-size: 32px;
  font-weight: 500;
  color: white;
}

.hero-slider-child .text p {
  font-size: 14px;
  font-weight: 400;
  color: white;
  max-width: 500px;
}

.hero-slider-child .text .red {
  color: #ff3002;
}

.hero-slider-child .g-btn {
  margin-right: 15px;
}

#hero .td-cta {
  position: absolute;
  right: 200px;
  top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero .td-cta img {
  max-width: 70px;
}

#hero .td-cta h4 {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 10px;
  margin-bottom: 0;
}

#card1 {
  background: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

#card1 .bg-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#card1 .bg-text h1 {
  font-size: 28vw;
  /* color: #e8e8e8; */
  color: #3bb1b1;
  opacity: 0.1;
  line-height: 90%;
  text-align: center;
}

#card1 h3 {
  color: #3bb1b1;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 30px;
  line-height: 39px;
  letter-spacing: 0.12rem;
}

#card1 h1 {
  font-size: 65px;
  font-weight: 700;
  text-transform: uppercase;
  color: #202020;
  line-height: 74px;
}

#card1 .hex-btn {
  display: flex;
  align-items: center;
}

#card1 .hex-btn img {
  max-width: 60px;
}

#card1 .hex-btn h4 {
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 0;
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 500;
}

/* ABOUT PAGE */
#about {
  padding: 100px 0 80px;
  transition: all 0.4s linear;
}

#about h1 {
  font-weight: 400;
  font-size: 30px;
}

#about h2 {
  font-weight: 500;
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #393c41;
}

#about h4 {
  font-size: 14px;
  line-height: 21px;
  color: #393c41;
}

#about.bg-black {
  background-color: #000;
}

#made {
  padding: 100px 0 80px;
  transition: all 0.4s linear;
  background-color: #fff;
  /* background-color: #000; */
}

#made h1 {
  font-weight: 400;
  font-size: 30px;
  color: #fff;
}

#made h2 {
  font-weight: 500;
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
  color: #c6c3be;
}

#made hr {
  background-color: rgba(255, 255, 255, 0.1);
}

#made p {
  font-size: 14px;
  line-height: 21px;
  color: #c6c3be;
}

#made.bg-black {
  background-color: #000;
}

/* CONTACT */
#contact {
  padding: 80px 0;
}

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

/* FOOTER */
#footer {
  background-color: #1e1e1e;
  padding: 80px 0;
}

#footer .links {
  margin-top: 30px;
}

#footer .links a {
  text-decoration: none;
  font-size: 15px;
  color: #eee;
}

#footer .links a:hover {
  color: #717171;
}

#footer h1 {
  font-size: 30px;
  font-weight: 400;
  color: #c6c3be;
}

#footer p {
  font-size: 12px;
  font-weight: 400;
  margin-top: 40px;
  color: #717171;
}

#footer .social object {
  margin-right: 10px;
  cursor: pointer !important;
  border-radius: 50%;
  filter: invert(99%) sepia(1%) saturate(2072%) hue-rotate(75deg)
    brightness(113%) contrast(100%);
}

#footer .social object:hover {
  filter: invert(9%) sepia(97%) saturate(5472%) hue-rotate(243deg)
    brightness(116%) contrast(136%);
}
